In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

FileNotFoundError: [WinError 3] Системе не удается найти указанный путь: '../input'

In [9]:

data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [110]:
len(data)

1890

# Предобработка датасета

In [3]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [10]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")

answer=data[data['budget']==data.budget.max()]
display(answer)
answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [12]:
answer=data[data['runtime']==data.runtime.max()]
display(answer)
answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [13]:
answer=data[data['runtime']==data.runtime.min()]
display(answer)

answer_ls.append(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [14]:
answer=data.runtime.mean()
display(answer)

answer_ls.append(2)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [15]:
answer=data.runtime.median()
display(answer)

answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [16]:
data['profit']=data['revenue']-data['budget']
answer=data[data['profit']==data.profit.max()]
display(answer)

answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [17]:
answer=data[data['profit']==data.profit.min()]
display(answer)
answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [18]:
answer=data[data['profit']>0]
display(len(answer))
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [19]:
answer=data[data['release_year']==2008]
answer=answer[answer['profit']==answer['profit'].max()]
display(answer)
answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [20]:
answer=data[(data['release_year']>=2012)&(data['release_year']<=2014)]
answer=answer[answer['profit']==answer['profit'].min()]
display(answer)

answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [21]:
from collections import Counter
genre_counter = Counter()
for x in data.genres.str.split('|'):
    genre_counter += Counter(x)
genre_counter.most_common()
display(genre_counter)
answer_ls.append(3)

Counter({'Action': 583,
         'Adventure': 416,
         'Science Fiction': 248,
         'Thriller': 597,
         'Fantasy': 223,
         'Crime': 315,
         'Western': 20,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [22]:

answer=pd.DataFrame(data[data['profit']>0].genres.str.split('|').tolist()).stack().value_counts()
display(answer)
answer_ls.append(1)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [23]:

answer=pd.DataFrame(data.director.str.split('|').tolist()).stack().value_counts()
display(answer)
answer_ls.append(3)

Steven Soderbergh        13
Ridley Scott             12
Clint Eastwood           12
Robert Rodriguez         11
Shawn Levy               10
                         ..
Paul Schrader             1
Todd Strauss-Schulson     1
Mark Mylod                1
Steve Antin               1
John Michael McDonagh     1
Length: 998, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [24]:

answer=pd.DataFrame(data[data['profit']>0].director.str.split('|').tolist()).stack().value_counts()

display(answer)
answer_ls.append(4)

Ridley Scott          12
Steven Soderbergh     10
Clint Eastwood        10
Steven Spielberg      10
Tim Burton             9
                      ..
Gregory Jacobs         1
Mira Nair              1
Wally Pfister          1
Stephen Hillenburg     1
Gregory Hoblit         1
Length: 814, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [25]:
df_dir = pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index() 
df_dir.columns =  ['row1', 'row2', 'director']

df_dir['margin_dir'] = df_dir.row1.apply(lambda x: data.iloc[x]['profit'])
display(df_dir.groupby(['director'])['margin_dir'].sum().sort_values(ascending=False))

answer_ls.append(5)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
Peter Hyams           -86956545
Ron Underwood         -92896027
James L. Brooks       -96289726
Walter Hill          -128283462
Sngmoo Lee           -413912431
Name: margin_dir, Length: 998, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [26]:
df_cast = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index() 
df_cast.columns =  ['row1', 'row2', 'cast']

df_cast['margin_cast'] = df_cast.row1.apply(lambda x: data.iloc[x]['profit'])
display(df_cast.groupby(['cast'])['margin_cast'].sum().sort_values(ascending=False))

answer_ls.append(1)

cast
Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
                         ...
Elisabeth Harnois     -111007242
Emilio EchevarrÃ­a    -119180039
Kate Bosworth         -369455668
Ti Lung               -413912431
Jang Dong-gun         -413912431
Name: margin_cast, Length: 3408, dtype: int64

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [27]:
data_2012=data[data['release_year']==2012]
df_cast = pd.DataFrame(data_2012.cast.str.split('|').tolist()).stack().reset_index() 
df_cast.columns =  ['row1', 'row2', 'cast']

df_cast['margin_cast'] = df_cast.row1.apply(lambda x: data_2012.iloc[x]['profit'])
display(df_cast.groupby(['cast'])['margin_cast'].sum().sort_values())


answer_ls.append(3)

cast
Kirsten Dunst         -68109207
Heidi Hawkins         -51893525
James Kidnie          -51893525
Timothy Spall         -51893525
Malin Ã…kerman        -43733509
                        ...
Robert Downey Jr.    1299557910
Mark Ruffalo         1299557910
Chris Evans          1299557910
Denis Leary          1319460639
Chris Hemsworth      1542450773
Name: margin_cast, Length: 466, dtype: int64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [28]:
data_high_budget=data[data['budget']>data['budget'].mean()]
answer=pd.DataFrame(data_high_budget.cast.str.split('|').tolist()).stack().value_counts()
display(answer[:1])
answer_ls.append(3)

Matt Damon    18
dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [29]:
answer=pd.DataFrame(data[data.cast.str.contains('Nicolas Cage')==True].genres.str.split('|').tolist()).stack().value_counts()
display(answer[:1])
answer_ls.append(2)

Action    17
dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [30]:
answer=pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()
display(answer[:1])
answer_ls.append(1)

Universal Pictures    173
dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [31]:
answer=pd.DataFrame(data[data['release_year']==2015].production_companies.str.split('|').tolist()).stack().value_counts()
display(answer[:1])
answer_ls.append(4)

Warner Bros.    12
dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [32]:

df_companies = pd.DataFrame(data[data.genres.str.contains('Comedy')==True].production_companies.str.split('|').tolist()).stack().reset_index() 
df_companies.columns =  ['row1', 'row2', 'companies']

df_companies['margin_companies'] = df_companies.row1.apply(lambda x: data.iloc[x]['profit'])
display(df_companies.groupby(['companies'])['margin_companies'].sum().sort_values(ascending=False))

answer_ls.append(2)

companies
Universal Pictures          9760457818
Columbia Pictures           8273198775
Paramount Pictures          6485616061
Walt Disney Pictures        6321695456
New Line Cinema             6270749300
                               ...
AR-TL                        -69590483
Hammer & Tongs               -71331093
Jon Shestack Productions     -80445998
Red Hour Films              -124500164
Room 9 Entertainment        -413912431
Name: margin_companies, Length: 702, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [33]:

df_companies = pd.DataFrame(data_2012.production_companies.str.split('|').tolist()).stack().reset_index() 
df_companies.columns =  ['row1', 'row2', 'companies']

df_companies['margin_companies'] = df_companies.row1.apply(lambda x: data_2012.iloc[x]['profit'])
display(df_companies.groupby(['companies'])['margin_companies'].sum().sort_values(ascending=False))

answer_ls.append(3)

companies
Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
                         ...
Jouror Productions     -51893525
Onyx Films             -51893525
Transfilm              -51893525
Studio 37              -51893525
France 2 CinÃ©ma       -82545651
Name: margin_companies, Length: 236, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [34]:
answer=data[data.production_companies.str.contains('Paramount Pictures')==True].sort_values('profit')
display(answer[:1])
answer_ls.append(1)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [35]:

answer=data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(answer)
answer_ls.append(5)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [36]:

answer=data[data.production_companies.str.contains('Warner Bros')==True].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(answer[:1])
answer_ls.append(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [37]:
data['month']=data.release_date.apply(lambda x: int(str(x).split('/')[0]))
answer=data.month.value_counts()
display(answer)

answer_ls.append(1)

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [38]:
answer=data.query('5<month<9')
display(len(answer))
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [39]:
answer=pd.DataFrame(data.query('month==12|month<3').director.str.split('|').tolist()).stack().value_counts()
display(answer)


answer_ls.append(5)

Peter Jackson          7
Clint Eastwood         6
Steven Soderbergh      6
Adam Shankman          4
Shawn Levy             4
                      ..
Tamra Davis            1
Daniel Barnz           1
Breck Eisner           1
Matthew O'Callaghan    1
GrÃ©gory Levasseur     1
Length: 359, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [40]:
df_group=pd.DataFrame(data.groupby(['release_year','month'])['profit'].sum()).reset_index() 

year=df_group.release_year.unique()

genre_counter=Counter()

for x in year:
    df_year=df_group[df_group['release_year']==x]
    answer=df_year[df_year['profit']==df_year['profit'].max()].month.tolist()
    genre_counter += Counter(answer)
display(genre_counter)


answer_ls.append(2)

Counter({12: 4, 5: 4, 6: 7, 7: 1})

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [41]:
data['len_name']=data.original_title.apply(lambda x: len(x))
df_companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index() 
df_companies.columns =  ['row1', 'row2', 'companies']

df_companies['len'] = df_companies.row1.apply(lambda x: data.iloc[x]['len_name'])
display(df_companies.groupby(['companies'])['len'].mean().sort_values(ascending=False))

answer_ls.append(5)

companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: len, Length: 1772, dtype: float64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [42]:
data['len_name']=data.original_title.apply(lambda x: len(str(x).split(' ')))
df_companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index() 
df_companies.columns =  ['row1', 'row2', 'companies']

df_companies['len'] = df_companies.row1.apply(lambda x: data.iloc[x]['len_name'])
display(df_companies.groupby(['companies'])['len'].mean().sort_values(ascending=False))

answer_ls.append(5)

companies
Four By Two Productions                  12.0
Jim Henson Company, The                  10.0
Polsky Films                              9.0
The Saul Zaentz Company                   9.0
Dos Corazones                             9.0
                                         ...
Many Rivers Productions                   1.0
Maple Shade Films                         1.0
Blue Productions                          1.0
Blue Sea Productions                      1.0
Great Wight Productions/ Osford Films     1.0
Name: len, Length: 1772, dtype: float64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [43]:

import string
words=set()
for i,d in data.iterrows():
    words |= set([x.lower() for x in d.original_title.split()])
display(len(words))


answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [44]:
top_procent_check = 1
top_procent_vote = np.percentile(data['vote_average'], (100-top_procent_check))
display(data[data.vote_average>top_procent_vote].sort_values(by='vote_average')[['original_title', 'vote_average']])


answer_ls.append(1)

                                     original_title  vote_average
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
873                                     The Pianist           7.9
1082  The Lord of the Rings: The Return of the King           7.9
1184                        The Wolf of Wall Street           7.9
1192                               12 Years a Slave           7.9
1801                                        Memento           7.9
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
600                                 The Dark Knight           8.1

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [48]:
import itertools
import collections
_actors=collections.Counter()
for i, d in data.iterrows():
    _a = d.cast.split('|')
    _actors.update([ x for x in itertools.combinations(_a, 2)])
_actors.most_common(5)
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [49]:
df_director=pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index()
df_director.columns =  ['row1', 'row2', 'director']


def budget_film(x):
    if data.iloc[x]['profit']>0:
        return 1
    else:
        return 0

df_director['margin_director'] = df_director.row1.apply(budget_film)
df_director['count']=1


df_group=df_director.groupby(['director'])[['margin_director', 'count']].sum().reset_index()

df_group['%']=df_group['margin_director']/df_group['count']
filter=['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']

display(df_group[df_group.director.isin(filter)].sort_values(by='%', ascending=False))
    
answer_ls.append(4)

              director  margin_director  count         %
151  Christopher Nolan                8      8  1.000000
748  Quentin Tarantino                6      7  0.857143
157     Clint Eastwood               10     12  0.833333
902  Steven Soderbergh               10     13  0.769231
791   Robert Rodriguez                8     11  0.727273

# Submission

In [50]:
len(answer_ls)

36

In [51]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       1
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4